<div data-role="header" data-theme="b">
	<h1>Groups</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>
<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a class="ui-btn-active" style="width:49%;" data-theme="b" data-role="button">List
			</a>
			<a style="width:49%;" data-theme="b" data-role="button">Map</a>
		</div>
	</div>
</div>
<div data-role="content">
	<div class="content-primary"></div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#groups/search" data-icon="search">Search</a></li>
			<li><a href="/#groups/settings" data-icon="star">Settings</a></li>
		</ul>
	</div><!-- /navbar -->
</div>