<div data-role="header" data-theme="b">
	<h1>Settings</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>

<div data-role="content" role="main">
	
		<div data-role="fieldcontain">
			<label for="groupsSelect" class="select">Sort By:</label>
			<select name="groupsSelect" id="groupsSelect" data-native-menu="false">
				<option value="-1">All Activity</option>
				<option value="activity_update">Status Updates</option>
				<option value="new_blog_post">Blog Posts</option>
				<option value="new_blog_comment">Blog Comments</option>
				<option value="new_forum_topic">New Forum Topics</option>
				<option value="new_forum_post">Forum Replies</option>
				<option value="created_group">New Groups</option>
				<option value="joined_group">New Group Memberships</option>
				<option value="new_member">New Members</option>
			</select>
		</div>
		
		
		<div data-role="fieldcontain">
			<label for="groupsSlider">Radius:</label>
		 	<input type="range" name="groupsSlider" id="groupsSlider" value="5" min="0" max="15"  />
		</div>
		
		<button type="submit" data-theme="b" name="submit" value="submit-value">Save</button>
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#groups" data-icon="delete">Close</a></li>
		</ul>
	</div><!-- /navbar -->
</div>