<div data-role="header" data-theme="b">
	<h1 title="Bazaar">
		<p>My First Application</p>
	</h1>
</div>
<div data-role="navbar">
	<ul>
		<li><a href="#" data-icon="star">Home</a></li>
		<li><a href="#about-this-framework" data-icon="star" class="btn ui-btn-active">About</a></li>
		<li><a href="#download" data-icon="star">Download</a></li>
	</ul>
</div>
<div data-role="content" class="ui-content" role="main">
	&nbsp;
	<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b ui-corner-top">Core Developer</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">dunhakdis</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">Core UI Designer</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">recycler</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">Project Maintainers</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">divineninja</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">rjx44</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">Project Template Designer</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">em22</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<a href="" class="ui-link-inherit">falz04</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">Project Editor</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-bottom">
			<a href="" class="ui-link-inherit">qbp9900</a>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</li>
	</ul>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="<%=__BASE_URL__%>#" data-icon="star" data-theme="b">Back to Home</a></li>
		</ul>
	</div>
</div>