<div data-role="header" data-theme="b">
	<h1 title="Bazaar">
		<p>My First Application</p>
	</h1>
</div>
<div data-role="navbar">
	<ul>
		<li><a href="#" data-icon="star">Home</a></li>
		<li><a href="#about-this-framework" data-icon="star">About</a></li>
		<li><a href="#download" data-icon="star" class="btn ui-btn-active">Download</a></li>
	</ul>
</div>
<div data-role="content">
	<a href="http://clubkoncepto.github.com/PulawJS" data-role="button">Support</a>
	<a href="http://clubkoncepto.github.com/PulawJS/zipball/master" data-role="button">Download as ZIP</a>
	<a href="http://clubkoncepto.github.com/PulawJS/tarball/master" data-role="button">Download as TAR</a>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="<%=__BASE_URL__%>#" data-icon="star" data-theme="b">Back to Home</a></li>
		</ul>
	</div>
</div>