<div data-role="header" data-theme="b">
	<h1 title="Bazaar">
		<p>My First Application</p>
	</h1>
</div>
<div data-role="navbar">
	<ul>
		<li><a href="#" data-icon="star" class="btn ui-btn-active">Home</a></li>
		<li><a href="#about-this-framework" data-icon="star">About</a></li>
		<li><a href="#download" data-icon="star">Download</a></li>
	</ul>
</div>
<div data-role="content" class="ui-content" role="main">
	<h1>Pulaw JS</h1>

	<p>Introducing a Model-View-Controller platform for JavaScript. Inspired by Zend Framework.</p>

	<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" role="listbox">
		<li data-role="list-divider" role="heading" tabindex="0" class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined">
			Bundled Technologies
		</li>
		<li role="option" tabindex="-1" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
			<a href="http://jquerymobile.com/demos/1.1.1/" class="ui-link-inherit">jQuery Mobile</a>
			<span class="ui-icon ui-icon-arrow-r"></span>
		</li>
		<li role="option" tabindex="-1" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c">
			<a href="http://backbonejs.org/" class="ui-link-inherit">Backbone.js</a>
			<span class="ui-icon ui-icon-arrow-r"></span>
		</li>
		<li role="option" tabindex="-1" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-hover-c">
			<a href="http://underscorejs.org/" class="ui-link-inherit">Underscore.js</a>
			<span class="ui-icon ui-icon-arrow-r"></span>
		</li>
		<li role="option" tabindex="-1" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-corner-bottom ui-btn-up-c">
			<a href="http://requirejs.org/" class="ui-link-inherit">RequireJS</a>
			<span class="ui-icon ui-icon-arrow-r"></span>
		</li>
	</ul>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="<%=__BASE_URL__%>#" data-icon="star" data-theme="b">Back to Home</a></li>
		</ul>
	</div>
</div>