<div data-role="header" data-theme="b">
	<h1 title="Bazaar">
		Pulaw-JS-0.1 Alpha Release - DEMO
	</h1>
	
</div>
<div data-role="navbar">
	<ul>
		<li><a href="#" data-icon="star" class="btn ui-btn-active">Home</a></li>
		<li><a href="#about-this-framework" data-icon="star">About this Framework</a></li>
		<li><a href="#download" data-icon="star">Download</a></li>
		<li><a href="#about-epsug" data-icon="star">Epsug</a></li>
	</ul>
</div><!-- /navbar -->

<div data-role="content">
	<div class="content-primary aSampleContainer">
		<p class="aSampleClass">Welcome to Pulaw-JS Alpha Edition!. We are digging into the core right now, so please make this file as a your starting point. Thanks!</p>
		<p>
			This is a single page boilerplate template that you can copy to build your first page. Each link or form from here will pull a new page in via Ajax to support the animated page transitions.
			Just view the source and copy the code to get started. All the CSS and JS is linked to the jQuery CDN versions so this is super easy to set up. Remember to include a meta viewport tag in the head to set the zoom level.
		</p>
		<p>Happy Koding!</p>
	</div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
	<ul>
		<li><a href="#" data-icon="star" data-theme="a">Teach me how to doggie!</a></li>
	</ul>
</div><!-- /navbar -->
</div>