body{
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}
ul,li{ 
	list-style:none;
}
li.desktopIcons{
	border:1px solid #eee;
	height: 10%;
	width: 10%;
	padding:50px 0px;
	float:left;
	margin:10px;
	background-color:
}
.firstloadpreloader{
	border:2px solid #474747;
	height: 95px;
	width: 275px;
	margin:0 auto;
	position:relative;
	margin-top: 120px;
	border-radius: 12px;
	padding-top: 10px;
	background-image: linear-gradient(bottom, rgb(65,65,65) 13%, rgb(98,98,98) 57%, rgb(113,113,113) 79%);
	background-image: -o-linear-gradient(bottom, rgb(65,65,65) 13%, rgb(98,98,98) 57%, rgb(113,113,113) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(65,65,65) 13%, rgb(98,98,98) 57%, rgb(113,113,113) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(65,65,65) 13%, rgb(98,98,98) 57%, rgb(113,113,113) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(65,65,65) 13%, rgb(98,98,98) 57%, rgb(113,113,113) 79%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(65,65,65)),
		color-stop(0.57, rgb(98,98,98)),
		color-stop(0.79, rgb(113,113,113))
	);
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinmoz {
	from {
		-moz-transform: rotate(0);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
.firstloadpreloader span.preloader{
	background: url('../images/ajax-loader.png') no-repeat;
	padding: 17px;
	-webkit-animation: spin 1.2s infinite linear;
	-moz-animation: spinmoz 1.2s infinite linear;
	-webkit-transform: translate3d(0%,0%,0%);
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 0 1px transparent;
	display: inline-block;
	margin-left:110px;
}
.firstloadpreloader h1,
.firstloadpreloader h3
{
	line-height: 7px;
	text-align:center;
	color: #f9f9f9;
	text-shadow: none;
	
}
.firstloadpreloader h1{
	font-size: 20px;
}
.firstloadpreloader h3{
	font-size: 17px;
}
.ui-content{
	overflow: hidden;
}
#map_canvasContainer{
-moz-transition: all 0.5s ease-out; 
-o-transition: all 0.5s ease-out; 
-webkit-transition: all 0.5s ease-out; 
transition: all 0.5s ease-out;
border:5px solid #f5f5f5;
box-shadow: 1px 1px 15px #ccc;
position: absolute;
left: 2000px;
z-index: 3;
width: 100%;
top: 97px;
}
#showmoreBtn{
	display: none;
}
#noresultDisplay{
	display:none;
}
.ui-li-heading{
color:#39F;
font-size: 14px;
margin-top: 0px;
}
.ui-li-thumb{
margin-top: 10px;
margin-left: 7px;
border: 1px solid #194B7E;
border-width:1px;
}
.ui-listview .ui-li-icon{
top:0px;
left:0px;
}
.twitterText{
margin-top:1px;
text-overflow:none;
overflow:auto;
width:100%;
white-space:normal;
}
.dealTitle{
font-size: 16px;
margin-top: 0px;
color: #fff;
margin-left: 95px;
white-space: normal;
margin-top: -5px;
}
table.ui-table-cell{ width: 100%; }
table.ui-table-cell td.ui-bar{
display: table-cell;
}
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
#PhotoSwipeTarget { width: 100%; height: 200px; }
#Indicators { text-align: center; margin-top: 20px; }
#Indicators span { display: inline-block; height: 10px; width: 10px; margin: 0 10px 0 0; padding: 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background: #c5c5c5; overflow:hidden; }
#Indicators span.current{ background: #EEBF02; }
body.ps-active, body.ps-building, div.ps-active, div.ps-building
{
	background: #000;
	overflow: hidden;
}
body.ps-active *, div.ps-active *
{ 
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	display: none;
}
body.ps-active *:focus, div.ps-active *:focus 
{ 
	outline: 0; 
}
div.ps-document-overlay 
{
	background: #000;
}
div.ps-uilayer { 
	
	background: #000;
	cursor: pointer;
	
}
div.ps-zoom-pan-rotate{
	background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }
div.ps-carousel-item-loading 
{ 
	background: url(loader.gif) no-repeat center center; 
}
div.ps-carousel-item-error 
{ 
	background: url(error.gif) no-repeat center center; 
}
div.ps-caption
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-bottom: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
}
div.ps-caption *  { display: inline; }
div.ps-caption-bottom
{ 
	border-top: 1px solid #42403f;
	border-bottom: none;
	min-height: 44px;
}
div.ps-caption-content
{
	padding: 13px;
	display: block;
}
div.ps-toolbar
{ 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-top: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
	height: 44px;
	display: table;
	table-layout: fixed;
}
div.ps-toolbar * { 
	display: block;
}
div.ps-toolbar-top 
{
	border-bottom: 1px solid #42403f;
	border-top: none;
}
div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
	cursor: pointer;
	display: table-cell;
}
div.ps-toolbar div div.ps-toolbar-content
{
	width: 44px;
	height: 44px;
	margin: 0 auto 0;
	background-image: url(icons.png);
	background-repeat: no-repeat;
}
div.ps-toolbar-close div.ps-toolbar-content
{
	background-position: 0 0;
}
div.ps-toolbar-previous div.ps-toolbar-content
{
	background-position: -44px 0;
}
div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
	background-position: -44px -44px;
}
div.ps-toolbar-next div.ps-toolbar-content
{
	background-position: -132px 0;
}
div.ps-toolbar-next-disabled div.ps-toolbar-content
{
	background-position: -132px -44px;
}
div.ps-toolbar-play div.ps-toolbar-content
{
	background-position: -88px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
	div.ps-toolbar div div.ps-toolbar-content
	{
		-moz-background-size: 176px 88px;
		-o-background-size: 176px 88px;
		-webkit-background-size: 176px 88px;
		background-size: 176px 88px;
		background-image: url(icons@2x.png);
	}
}
ul#video-galerry,
ul#gallery{
	padding:0px;
}
ul#gallery li{
	float: left;
	width: 48%;
	overflow:hidden;
	border: 1px solid #121212;
	margin: 2px;
}
ul#gallery img{
	width: 100%;
	float: left;
}
.hasCountdown {
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 250%;
}
.countdown_descr {
	display: block;
	width: 100%;
}
