<div data-role="header" data-theme="b">
	<h1>Daily Deals</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>
<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a class="ui-btn-active" style="width:49%;" data-theme="b" id="listBtn" data-role="button">List</a>
			<a style="width:49%;" data-theme="b" id="mapBtn" data-role="button">Map</a>
		</div>
	</div>
</div>
<div data-role="content">
	<div class="dailyDeals">
		<ul id="dailyDealsListings" data-role="listview" data-filter="true"></ul>
		<br />
		<a id="showmoreBtn" data-role="button">
			Show More
		</a>
	</div>
	<div id="map_canvasContainer">
		<div id="map_canvas" width="100%" style="top:0px;height:485px;"></div>
	</div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="#dailydeals/search" data-icon="search">Search</a></li>
			<li><a href="#dailydeals/settings" data-icon="star">Settings</a></li>
		</ul>
	</div><!-- /navbar -->
</div>