<div data-role="header" data-theme="b">
	<h1>Daily Deals Search</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>

<div data-role="content" role="main">
	
		<div data-role="fieldcontain">
			<label for="keyword" class="select">Search for:</label>
			<input type="search" name="dealsSearchKey" id="keyword" />
		</div>
		
		<div data-role="fieldcontain">
			<label for="category">Order:</label>
			<select name="dailyDealOrder" id="category">
				<option value="0">All Categories</option><option value="940">Activities</option><option value="942">Beauty</option><option value="941">Events</option><option value="943">Fitness</option><option value="944">Food</option><option value="945">Kids</option><option value="949">Other</option><option value="946">Pets</option><option value="43">Services</option><option value="947">Shopping</option><option value="948">Sports</option>
			</select> 
		</div>
		
		<div data-role="fieldcontain">
			<label for="address" class="select">Near:</label>
			<input type="text" name="dailyDealSearch" id="address" />
		</div>
		
		<input type="hidden" name="lat" id="lat" />
		<input type="hidden" name="lat" id="lon" />
		
		<button id="searchBtn" type="submit" data-theme="b" name="submit" value="submit-value">
			<span data-icon="search">Search</span>
		</button>
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#dailydeals" data-icon="delete">Close</a></li>
		</ul>
	</div><!-- /navbar -->
</div>