<% _.each(post, function(post){ var _post = post.attributes %>
<div data-role="header" data-theme="b">
	<h1>Classified</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>
<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a class="ui-btn-active" style="width:49%;" data-theme="b" id="listBtn" data-role="button">Details</a>
			<a style="width:49%;" data-theme="b" id="mapBtn" data-role="button">Map</a>
		</div>
	</div>
</div>
<div data-role="content">
	<div class="content-primary">
<%console.log( _post )%>	
		<h2><%= _post.title%></h2>
		<div class="ui-body ui-body-c">
			<div class="page-gallery">
				<ul id="gallery">
					<li>
						<a href="<%=_post.thumbnail%>">
							<img src="<%=_post.thumbnail%>" />
						</a>
					</li>
				</ul>
			</div>
			<div style="clear:both"></div>
			<div class="page-content">
				<%= _post.excerpt%>
			</div>
		</div>
		
		<div class="ui-body ui-body-e">
		
			<div class="ui-grid-a">
			
				<table class="ui-table-cell ui-grid-a">
					<tr>
						<td class="ui-bar ui-bar-c">Price</td>
						<td id="price" class="ui-bar ui-bar-c"><%= _post.price%> <%= _post.user_type%></td>
					</tr>
					<tr>
						<td class="ui-bar ui-bar-c">Location</td>
						<td class="ui-bar ui-bar-c"><%= _post.address%></td>
					</tr>
					<tr>
						<td class="ui-bar ui-bar-c">Distance</td>
						<td class="ui-bar ui-bar-c"><%= _post.distance%> mi</td>
					</tr>
				</table>
			</div><!-- /grid-a -->
		
			<a data-theme="e" data-role="button" data-icon="grid">I'm interested</a>
		</div>
	</div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<h3>Powered By Oodle</h3>
</div>
<%});%>