<div data-role="header" data-theme="b">
	<h1>Post Ad</h1>
</div>

<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a class="ui-btn-active" style="width:49%;" data-theme="b" data-role="button">Selling
			</a>
			<a style="width:49%;" data-theme="b" data-role="button">Looking</a>
		</div>
	</div>
</div>

<div data-role="content" role="main">
	
	<div data-role="fieldcontain">
		<label for="postTitle">Post Title:</label>
		<input type="text" name="postTitle" id="postTitle" value="" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="postDescription">Post Description:</label>
		<textarea name="postDescription" id="postDescription" value="" />
	</div>
	
	<div data-role="fieldcontain">
		<label for="postAddress">Post Address:</label>
		<textarea name="postAddress" id="postAddress" value="" />
	</div>
		
	<div data-role="fieldcontain">
		<label for="postCategories" class="select">Categories:</label>
		<select name="postCategories" id="postCategories" data-theme="b" data-overlay-theme="d" data-native-menu="false">
			<option>Select Categories</option>
			<option value="a">Tall</option>
			<option value="b">Grande</option>
			<option value="c">Vente</option>
		</select>
	</div>
	
	<div data-role="fieldcontain">
		<label for="postPrice">Price:</label>
		<input type="number" name="postPrice" pattern="[0-9]*" id="postPrice" value="" />
	</div>
	
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
		   <legend>Would you like to feature your post for FREE?</legend>
		   <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
		   <label for="checkbox-1">Yes</label>
		</fieldset>
	</div>
	
	<div data-role="fieldcontain">
		<fieldset>
			<label for="uploadFile">Upload Files:</label>
			<input type="file" name="uploadFile" id="uploadFile" data-theme="b" />
		</fieldset>
	</div>
			
	<button type="submit" data-theme="b" name="submit" value="submit-value">
		<span data-icon="search">Submit</span>
	</button>
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="#" data-icon="back">Back</a></li>
		</ul>
	</div><!-- /navbar -->
</div>