<div data-role="header" data-theme="b">
	<h1>Settings</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>

<div data-role="content" role="main">

	<div data-role="fieldcontain">
		<label for="radius">Radius:</label>
		<input type="range" name="slider" id="radius" value="<%=settings.circumference%>" min="1" max="50" />
	</div>
		
	<div data-role="fieldcontain">
		<label for="sortBy" class="select">Sort By:</label>
		<select name="select-choice-1" id="sortBy" tabindex="-1">
		<%
			var choices = {'latest':{'label':'Latest','direction':'asc','sortby':'date'},'price':{'label':'Lowest Price','direction':'asc','sortby':'price'},'most_expensive':{'label':'Most Expensive','direction':'asc','sortby':'price'},'nearest':{'label':'Nearest','direction':'asc','sortby':'distance'},'farthest':{'label':'Latest','direction':'asc','sortby':'distance'},'highest_rated':{'label':'Highest Rated','direction':'desc','sortby':'rating'},'lowest_rated':{'label':'Lowest Rated','direction':'asc','sortby':'rating'},'most_commented':{'label':'Most Commented','direction':'desc','sortby':'comment_count'},'less_commented':{'label':'Less Commented','direction':'asc','sortby':'comment_count'}};
		%>
		<% _.each( choices, function( value ){ %>
			<%
				if( value.sortby == settings.orderby && value.direction == settings.order ){
					var selected = "selected";
				}else{
					var selected = "";
				}
				console.log( value.sortby + ' ' + settings.orderby + ' ' + value.direction + ' ' + settings.order  );
			%>
			<option <%=selected%> sortby='<%=value.sortby%>' direction='<%=value.direction%>' value="1"><%=value.label%></option>
		<% }); %>
		</select>
	</div>
		
	<a data-role="button" id="marketSettingsSaved" data-icon="gear" data-theme="e" data-iconpos="left">Save Settings</a>
	
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a onclick="javascript:window.history.back();" data-icon="delete">Close</a></li>
		</ul>
	</div><!-- /navbar -->
</div>