<div data-role="header" data-theme="b">
	<h1>Classified</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>
<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a class="ui-btn-active" style="width:49%;" data-theme="b" id="listBtn" data-role="button">Details</a>
			<a style="width:49%;" data-theme="b" id="mapBtn" data-role="button">Map</a>
		</div>
	</div>
</div>
<div data-role="content">
	<div class="content-single">			
		<h2><%=listing.post_title%></h2>
			<div class="ui-body ui-body-c">
			<div class="page-gallery">
				<ul id="gallery">
					<% _.each( listing.images, function( url ){ %>
						<li>
							<a href="<%=url.original%>">
								<img src="<%=url.thumbnail%>" />
							</a>
						</li>
					<% }); %>
				</ul>
			</div>
		</div>
		
			
			<%if( listing.videos.length >= 1 ){%>
			<div class="page-video-gallery">
				<ul id="video-galerry">
					<% _.each( listing.videos, function( videoUrl ){ %>
						<li>
						<div class="ui-body ui-body-a">
							<div class="page-content">
								<iframe width="100%" height="250px" src="<%=videoUrl%>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen />
							</div>
						</div>
						</li>
					<% }); %>
				</ul>
			</div>			
			<%}%>
		
	
		<div style="clear:both;"></div>
		<div class="ui-body ui-body-d">
			<div class="page-content">
				<%=listing.post_content%>
			</div>
		</div>
		<div class="ui-body ui-body-e">
			<%
				var price = parseFloat(listing.fields.custom_field1[0]);
				var address = listing.fields.custom_field2[0];
				var date = listing.post_date;
			%>
			<div class="ui-grid-a">
				<table class="ui-table-cell ui-grid-a">
					<tr>
						<td class="ui-bar ui-bar-c">Price</td>
						<td id="price" class="ui-bar ui-bar-c"><%=price.toFixed(2)%></td>
					</tr>
					<tr>
						<td class="ui-bar ui-bar-c">Location</td>
						<td class="ui-bar ui-bar-c"><%=address%></td>
					</tr>
					<tr>
						<td class="ui-bar ui-bar-c">Date Posted</td>
						<td class="ui-bar ui-bar-c"><%=date%></td>
					</tr>
				</table>
			</div><!-- /grid-a -->
		
			<a  data-theme="b" data-role="button" data-icon="grid">Call ( +63 ) 929 979 4326</a>
			
		</div>
	</div>
	<div id="map_canvasContainer">
		<div id="map_canvas" width="99%" style="top:0px;height:485px;"></div>
	</div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<h3>By Admin</h3>
</div>