<div data-role="header" data-theme="b">
	<h1>Checkins</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>
<div data-role="navbar">
	<div class="ui-body ui-body-b">
		<div style="text-align:center;" data-role="controlgroup" data-type="horizontal" data-mini="true">
			<a id="listView" data-theme="b" data-role="button" class="ui-btn-active" style="width:49%;">List</a>
			<a id="mapView" data-theme="b" data-role="button" style="width:49%;">Map</a>
		</div>
	</div>
</div>
<div data-role="content">
	
	<div class="checkIns">
		<ul id="checkInsListings" data-role="listview" data-filter="true"></ul>
		<br />
		<a id="showmoreBtn" data-role="button">Show More</a>
	</div>
	<div id="map_canvasContainer">
		<a data-role="button" data-theme="c">#18 Dona Juliana Street, Bacolod City, Negros Occidental, Philippines</a>
		<div id="map_canvas" width="100%" style="top:0px;height:485px;"></div>
	</div>
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#checkins/search" data-icon="search">Search</a></li>
			<li><a href="/#checkins/settings" data-icon="star">Settings</a></li>
		</ul>
	</div><!-- /navbar -->
</div>