<div data-role="header" data-theme="b">
	<h1>CheckIns Search</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>

<div data-role="content" role="main">
	
		<div data-role="fieldcontain">
			<label for="keyword" class="select">Search for:</label>
			<input type="search" name="dealsSearchKey" id="keyword" />
		</div>
	
		<div data-role="fieldcontain">
			<label for="address" class="select">Near:</label>
			<input type="text" name="dailyDealSearch" id="address" />
		</div>
		
		<input type="hidden" name="lat" id="lat" />
		<input type="hidden" name="lat" id="lon" />
		
		<button id="searchBtn" type="submit" data-theme="b" name="submit" value="submit-value">
			<span data-icon="search">Search</span>
		</button>
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#checkins" data-icon="delete">Close</a></li>
		</ul>
	</div><!-- /navbar -->
</div>