<div data-role="header" data-theme="b">
	<h1>Settings</h1>
	<a class="backBtn" data-icon="back">Back</a>
	<a href="#" data-icon="home">Home</a>
</div>

<div data-role="content" role="main">
	
		<div data-role="fieldcontain">
			<label for="directorySelect" class="select">Sort By:</label>
			<select name="directorySelect" id="directorySelect" data-native-menu="false">
				<option value="dir_radius">Distance</option>
				<option value="dir_timeStarted">Newest</option>
				<option value="dir_popular">Popular</option>
			</select>
		</div>
		
		
		<div data-role="fieldcontain">
			<label for="directorySlider">Radius:</label>
		 	<input type="range" name="directorySlider" id="directorySlider" value="5" min="0" max="15"  />
		</div>
		
		<button type="submit" data-theme="b" name="submit" value="submit-value">Save</button>
		
</div>
<div data-role="footer" data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="/#directory" data-icon="delete">Close</a></li>
		</ul>
	</div><!-- /navbar -->
</div>